* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-image: url(resource/image/back-ground.png);
}

.title {
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    
}

.product-block{
    width: 1110px;
    margin: 0 auto;
    color: #515076;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    list-style: none; 
}

.card-product {
    background-color: #F5F5F5;
    width: 340px;
    padding: 25px;
}

.product-image {
    width: 290px;
    height: 245px;
}

.product-category {
    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9;
    text-transform: uppercase;
}

.product-name {
    font-size: 20px;
    font-weight: 700;
}

.structure {
    padding-left: 20px;
    list-style: circle;
}

.structure li {
    margin: 8px;
}

.price-block {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 20px;
}