*{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

img{
    width: 290px;
    height: 245px;
}

.title {
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    color: #515076

}


.product_name, .price{
    font-size: 20px;
    color: #515076;
    font-weight: 700;
}

.product-category{

    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9;
    text-transform: uppercase;
}

.price-num{
    font-size: 20px;
    color: #515076;
}

.structure{
    padding-left: 20px;

}

.description{
    padding-top: 0;

}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}

.container{
    background-color: #F5F5F5;
    width: 340px;
    padding: 25px;
    
}

.price-block{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 20px;
}
